<nav class="nav-bg">
    <div class="nav-wrapper container">
        <div class="top-nav">

            <a href="/" class="brand-logo">juniHUB</a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large right">
                <i class="fab fa-wpexplorer"></i> EXPLORE</a>

        </div>

        <ul class="sidenav" id="mobile-demo">

            <li class="heading-sidenav"><a href="/"><img width="100" height="100" src="/assets/logo.png"
                        class="logo-img responsive-img"></a>

            </li>

            <br>

            <li class="nav-list"></i><i class="fas fa-check"></i><a href="https://juni-todo-list.netlify.app/"
                    target="_blank" rel="noopener noreferrer">Task Manager</a>
            </li>
            <li class="nav-list"><i class="fas fa-list-alt"></i><a href="https://juni-recipe.netlify.app/"
                    target="_blank" rel="noopener noreferrer">Recipe Search</a>
            </li>
            <li class="nav-list">
                <i class="fas fa-sticky-note"></i><a href="https://juni-dev-note.netlify.app/" target="_blank"
                    rel="noopener noreferrer">Notes</a>
            </li>
            <li class="nav-list"><i class="fas fa-ad"></i><a href="https://juni-ecommerce.vercel.app/" target="_blank"
                    rel="noopener noreferrer">Market Hub</a></li>
            <li class="nav-list"><i class="fas fa-images"></i><a href="https://juni-gallery.vercel.app/" target="_blank"
                    rel="noopener noreferrer">Photo Hub</a></li>


            <br>
            <hr>

            <div class="footer-section">
                <div class="nav-footer"><a href="#"><span>© juniHUB 2021.</span></a></div>

                <div class="nav-footer btn-login">
                    <a href="/auth/google" class="btn">
                        <i class="fab fa-google left"></i>log in with google
                    </a>
                </div>
            </div>
        </ul>
    </div>
</nav>