<nav class="pink accent-1">
    <div class="nav-wrapper container">
        <div class="topnav">

            <a href="/" class="logo"> <img width="50" height="50" src="/assets/logo.png"
                    class="responsive-img circle">Juni
                HUB</a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large right">
                <i class="fas fa-bars"></i> Explore</a>

        </div>

        <ul class="sidenav" id="mobile-demo">
            <li class="heading-sidenav"><img width="100" height="100" src="/assets/logo.png"
                    class="logo-img responsive-img">
                <br>

            </li>

            <li class="nav-list"><i class="fas fa-umbrella"></i><a href="https://juni-weather.netlify.app/"
                    target="_blank" rel="noopener noreferrer">Weather
                    Forecast</a></li>
            <li class="nav-list"></i><i class="fas fa-check"></i><a href="https://juni-todo-list.netlify.app/"
                    target="_blank" rel="noopener noreferrer">Todo List</a>
            </li>
            <li class="nav-list"><i class="fas fa-list-alt"></i><a href="https://juni-recipe.netlify.app/"
                    target="_blank" rel="noopener noreferrer">Recipe Finder</a>
            </li>
            <li class="nav-list">
                <i class="fas fa-bookmark"></i><a href="https://juni-dev-note.netlify.app/" target="_blank"
                    rel="noopener noreferrer">Bookmark Tool</a>
            </li>
            <li class="nav-list"><i class="fas fa-sticky-note"></i><a href="https://juni-stickynote.herokuapp.com/"
                    target="_blank" rel="noopener noreferrer">Sticky
                    Note</a></li>

            <li>
                <br>
                <hr>
            </li>
            <li class="nav-footer"><a href="#"><span>© juniHUB 2021.</span></a></li>
        </ul>
    </div>
</nav>