<nav class="indigo lighten-1">
    <div class="nav-wrapper container">
        <div class="topnav">

            <a href="/" class="logo"> <img width="50" height="50" src="/assets/logo.png"
                    class="responsive-img circle">Juni
                HUB</a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large right">
                <i class="fas fa-bars"></i> Explore</a>

        </div>

        <ul class="sidenav" id="mobile-demo">
            <li class="heading-sidenav"><img width="100" height="100" src="/assets/logo.png"
                    class="logo-img responsive-img">
                <br>

            </li>
            <li><a href="https://juni-weather.netlify.app/">Weather Forecast</a></li>
            <li><a href="https://juni-todo-list.netlify.app/">Todo List</a></li>
            <li><a href="https://juni-recipe.netlify.app/">Recipe Finder</a></li>
            <li><a href="https://juni-dev-note.netlify.app/">Bookmark Tool</a></li>
            <li><a href="https://juni-stickynote.herokuapp.com/">Sticky Note</a></li>

            <li>
                <br>
                <hr>
            </li>
            <li class="nav-footer"><a href="#"><span>juniHUB@2011</span></a></li>
        </ul>
    </div>
</nav>