<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Algolia Search -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css">



    <link rel="stylesheet" href="/css/style.css">


    <title>Welcome to juniHUB</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />
</head>

<body>

    {{> _public_header}}

    <div class="container">


        {{{body}}}


    </div>

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>

        M.Sidenav.init( document.querySelector( '.sidenav' ) );

    </script>

    <script>
        $( ".materialert > .close-alert" ).click( function ()
        {
            $( this ).parent().hide( 'slow' );
        } );
    </script>

    <script>

        $( document ).ready( function ()
        {
            $( ".moreBox" ).slice( 0, 4 ).show();
            if ( $( ".moreBox:hidden" ).length != 0 )
            {
                $( "#loadMore" ).show();
            }
            $( "#loadMore" ).on( 'click', function ( e )
            {
                e.preventDefault();
                $( ".moreBox:hidden" ).slice( 0, 4 ).slideDown();
                if ( $( ".moreBox:hidden" ).length == 0 )
                {
                    $( "#loadMore" ).fadeOut( 'slow' );
                }
            } );
        } );



    </script>


    <script src="https://cdn.jsdelivr.net/algoliasearch/3.32.0/algoliasearchLite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.19.0"></script>

    <script>


        const search = instantsearch( {
            indexName: "juni-storybook", searchClient:
                algoliasearch( "2UZGCMHPPF", "c4264e347958a0b318db93771fe73c0f" )
        } );

        search.addWidgets( [
            instantsearch.widgets.searchBox( { container: "#searchbox" } ),
            instantsearch.widgets.clearRefinements( {
                container: "#clear-refinements"
            } ),
            instantsearch.widgets.refinementList( {
                container: "#brand-list",
                attribute: "tags"
            } ),
            instantsearch.widgets.hits( {
                container: "#hits",
                templates: {
                    item:
                        ` 
                    <article>
                    <h1>{{#helpers.highlight}}{ "attribute": "title" }{{/helpers.highlight}}</h1>
                    <p>{{#helpers.highlight}}{ "attribute": "body" }{{/helpers.highlight}}</p>
                    </article>
           
                        `
                }
            } ),
            instantsearch.widgets.pagination( {
                container: "#pagination"
            } )
        ] );

        search.start();


    </script>


</body>

</html>