<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <link rel="stylesheet" href="/css/style.css">


    <title>Welcome to juniHUB</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />
</head>

<body>

    {{> _public_header}}

    <div class="container">


        {{{body}}}


    </div>



    <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <script src="https://cdn.jsdelivr.net/g/algoliasearch@3(algoliasearchLite.min.js),algoliasearch.helper@2"></script>


    <script>

        M.Sidenav.init( document.querySelector( '.sidenav' ) );

    </script>

    <script>
        $( ".materialert > .close-alert" ).click( function ()
        {
            $( this ).parent().hide( 'slow' );
        } );
    </script>

    <script>

        $( document ).ready( function ()
        {
            $( ".moreBox" ).slice( 0, 4 ).show();
            if ( $( ".moreBox:hidden" ).length != 0 )
            {
                $( "#loadMore" ).show();
            }
            $( "#loadMore" ).on( 'click', function ( e )
            {
                e.preventDefault();
                $( ".moreBox:hidden" ).slice( 0, 4 ).slideDown();
                if ( $( ".moreBox:hidden" ).length == 0 )
                {
                    $( "#loadMore" ).fadeOut( 'slow' );
                }
            } );
        } );



    </script>

    <script>

        $( document ).ready( function ()
        {

            var applicationID = '2UZGCMHPPF';
            var apiKey = 'c4264e347958a0b318db93771fe73c0f';
            var index = 'juni-storybook';

            var client = algoliasearch( applicationID, apiKey );
            var helper = algoliasearchHelper( client, index, {
                facets: [ 'tags' ]
            } );

            helper.on( 'result', function ( content )
            {
                renderFacetList( content );
                renderHits( content );
            } );

            function renderHits( content )
            {
                $( '#container' ).html( function ()
                {
                    return $.map( content.hits, function ( hit )
                    {
                        return (
                            '<li>'

                            +
                            '<a href = "/auth/google" target = "_blank" rel = "noopener noreferrer" >'


                            + hit._highlightResult.title.value + '</a >' +
                            ' Login to view ' + '</li>' );
                    } );
                } );
            }

            $( '#facet-list' ).on( 'click', 'input[type=checkbox]', function ( e )
            {
                var facetValue = $( this ).data( 'facet' );
                helper.toggleRefinement( 'tags', facetValue )
                    .search();
            } );

            function renderFacetList( content )
            {
                $( '#facet-list' ).html( function ()
                {
                    return $.map( content.getFacetValues( 'tags' ), function ( facet )
                    {
                        var checkbox = $( '<input type=checkbox>' )

                            .data( 'facet', facet.name )
                            .attr( 'id', facet.name );

                        if ( facet.isRefined ) checkbox.attr( 'checked', 'checked' );
                        var label = $( '<label>' ).html( facet.name + ' (' + facet.count + ')' )
                            .attr( 'for', facet.name );

                        return $( '<li>' ).append( checkbox ).append( label );
                    } );
                } );
            }

            $( '#search-box' ).on( 'keyup', function ()
            {
                helper.setQuery( $( this ).val() )
                    .search();
            } );

            helper.search();

        } );


    </script>



</body>

</html>