<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS style -->
    <link id="main-css" rel="stylesheet" href="/css/style.css">

    <title>Welcome to juniHUB</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />

</head>

<body>

    {{> _header}}
    {{> _add_btn}}

    <div class="container">

        {{{body}}}


    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>

    <script src="https://cdn.jsdelivr.net/g/algoliasearch@3(algoliasearchLite.min.js),algoliasearch.helper@2"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>

    <script>
        M.Sidenav.init( document.querySelector( '.sidenav' ) )
        M.FormSelect.init( document.querySelector( '#status' ) )
        CKEDITOR.replace( 'body', {
            toolbarGroups: [
                { name: 'clipboard', groups: [ 'clipboard', 'undo', 'source' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ] },
                { name: 'links' },
                { name: 'insert' },
                { name: 'about' }
            ],

        } );
    </script>

    <script>
        $( ".materialert > .close-alert" ).click( function ()
        {
            $( this ).parent().hide( 'slow' );
        } );
    </script>

    <script src='/validateForms.js'></script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0"
        nonce="KH5kPpL1"></script>

    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=226925842370136&autoLogAppEvents=1"
        nonce="G7lHqFdJ"></script>

    <script>

        $( document ).ready( function ()
        {
            $( '.tooltipped' ).tooltip();

        } );


    </script>

    <script>

        $( document ).ready( function ()
        {
            var scrollToTopBtn = document.getElementById( "scrollToTopBtn" )
            var rootElement = document.documentElement

            function scrollToTop()
            {
                // Scroll to top logic
                rootElement.scrollTo( {
                    top: 0,
                    behavior: "smooth"
                } )
            }
            scrollToTopBtn.addEventListener( "click", scrollToTop )

        } );

    </script>

    <script>

        $( document ).ready( function ()
        {

            var applicationID = '2UZGCMHPPF';
            var apiKey = 'c4264e347958a0b318db93771fe73c0f';
            var index = 'juni-storybook';

            var client = algoliasearch( applicationID, apiKey );
            var helper = algoliasearchHelper( client, index, {
                facets: [ 'tags' ]
            } );

            helper.on( 'result', function ( content )
            {
                renderFacetList( content ); // not implemented yet
                renderHits( content );
            } );

            function renderHits( content )
            {

                $( '#container' ).html( function ()
                {

                    var noList = $( '<p class="noList">' ).html( "Sorry, no result found. Try another one!" );

                    if ( content.hits.length <= 0 )

                        return $( '<div>' ).append( noList );

                    else
                    {

                        return $.map( content.hits, function ( hit )
                        {

                           
                            var href = $('<a target="_blank" rel="noopener noreferrer">')
                                .html( hit._highlightResult.title.value )
                                .attr( 'href', "/stories/" + hit._highlightResult.id.value );
                                

                            var formatDate = moment( new Date( hit._highlightResult.createdAt.value) ).format( "MM/DD/YYYY" )

                            var date = $('<span class="secondary-content">').html( formatDate);


                            return $( '<li class="collection-item">' ).append(href).append(date);



                        } );
                    }


                } );



            }

            $( '#facet-list' ).on( 'click', 'input[type=checkbox]', function ( e )
            {
                var facetValue = $( this ).data( 'facet' );
                helper.toggleRefinement( 'tags', facetValue )
                    .search();
            } );

            function renderFacetList( content )
            {
                $( '#facet-list' ).html( function ()
                {
                    return $.map( content.getFacetValues( 'tags' ), function ( facet )
                    {
                        var checkbox = $( '<input type=checkbox>' )
                            .data( 'facet', facet.name )
                            .attr( 'id', 'fl-' + facet.name );
                        if ( facet.isRefined ) checkbox.attr( 'checked', 'checked' );

                        var label = $( '<label>' ).html( "#" + facet.name + ' (' + facet.count + ')' ).attr( 'for', 'fl-' + facet.name );


                        return $( '<a>' ).append( checkbox ).append( label );
                    } );
                } );
            }

            $( '#search-box' ).on( 'keyup', function ()
            {
                helper.setQuery( $( this ).val() )
                    .search();
            } );

            helper.search();


        } );


    </script>





</body>

</html>