<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS style -->
    <link id="main-css" rel="stylesheet" href="/css/style.css">



    <title>Welcome to juniHUB</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />

</head>

<body>

    {{> _header}}
    {{> _add_btn}}

    <div class="container">

        {{{body}}}


    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>

    <script>
        M.Sidenav.init( document.querySelector( '.sidenav' ) )
        M.FormSelect.init( document.querySelector( '#status' ) )
        CKEDITOR.replace( 'body', {
            toolbarGroups: [
                { name: 'clipboard', groups: [ 'clipboard', 'undo', 'source' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ] },
                { name: 'links' },
                { name: 'insert' },
                { name: 'about' }
            ],


        } );
    </script>

    <script>
        $( ".materialert > .close-alert" ).click( function ()
        {
            $( this ).parent().hide( 'slow' );
        } );
    </script>

    <script src='/validateForms.js'></script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0"
        nonce="KH5kPpL1"></script>

    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=226925842370136&autoLogAppEvents=1"
        nonce="G7lHqFdJ"></script>




    <script>

        $( document ).ready( function ()
        {
            $( '.tooltipped' ).tooltip();

        } );


    </script>

    <script>

        $( document ).ready( function ()
        {
            var scrollToTopBtn = document.getElementById( "scrollToTopBtn" )
            var rootElement = document.documentElement

            function scrollToTop()
            {
                // Scroll to top logic
                rootElement.scrollTo( {
                    top: 0,
                    behavior: "smooth"
                } )
            }
            scrollToTopBtn.addEventListener( "click", scrollToTop )

        } );

    </script>




</body>

</html>