<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS style -->
    <link id="main-css" rel="stylesheet" href="/css/style.css">


    <title>Welcome to juniHUB</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />

</head>

<body>

    {{> _header}}
    {{> _add_btn}}

    <div class="container">

        {{{body}}}


    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>

    <script>
        M.Sidenav.init( document.querySelector( '.sidenav' ) )
        M.FormSelect.init( document.querySelector( '#status' ) )
        CKEDITOR.replace( 'body', {
            toolbarGroups: [
                { name: 'clipboard', groups: [ 'clipboard', 'undo', 'source' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ] },
                { name: 'links' },
                { name: 'insert' },
                { name: 'about' }
            ],


        } );
    </script>

    <script>
        $( ".materialert > .close-alert" ).click( function ()
        {
            $( this ).parent().hide( 'slow' );
        } );
    </script>

    <script src='/validateForms.js'></script>


    <script>( function ( d, s, id )
        {
            var js, fjs = d.getElementsByTagName( s )[ 0 ];
            if ( d.getElementById( id ) ) return;
            js = d.createElement( s ); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore( js, fjs );
        }( document, 'script', 'facebook-jssdk' ) );
    </script>

    <script>window.twttr = ( function ( d, s, id )
        {
            var js, fjs = d.getElementsByTagName( s )[ 0 ],
                t = window.twttr || {};
            if ( d.getElementById( id ) ) return t;
            js = d.createElement( s );
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore( js, fjs );

            t._e = [];
            t.ready = function ( f )
            {
                t._e.push( f );
            };

            return t;
        }( document, "script", "twitter-wjs" ) );
    </script>

    <script>

        $( document ).ready( function ()
        {
            $( '.tooltipped' ).tooltip();
        } );

    </script>

</body>

</html>