<div id="dashboard-stories" class="dashboard-href">
    
    <a class="btn" href="/stories">Visit All Public Stories</a>

     <a class="btn" href="/stories/dashboardStory">Manage Your Public Stories</a>

    <a class="btn" href="/stories/privateStory">Manage Your Private Stories</a>

</div>



<h3>Welcome {{name}} !</h3>
<h5>Your stories shown here or create new one <a href="/stories/add"
        class="btn-floating btn-large waves-effect waves-light pink lighten-2"><i class="fas fa-plus"></i></a></h5>

{{#condition success.length ">" 0}}

<div class="materialert success">
    <div class="material-icons"><i class="fa fa-check"></i></div>
    <span>{{success}}</span>
    <button type="button" class="close-alert">×</button>
</div>

{{/condition}}


<div id="search-stories">

    <div class="row">



        <div class="row">

            <h3>#Filter Tags</h3>

            <div id=facet-list></div>

        </div>

        <div class="row">

            <h3>@All Your Published Stories</h3>

            <ul id=container class='collection'>
            </ul>

        </div>

    </div>

</div>

