<h3><i class="fas fa-book"></i> Welcome to Juni HUB</h3>
<div class="section">

    <h4><strong><i class="fas fa-quote-left"></i>&nbsp;{{quote}}</strong></h5>
        <h6>-{{author}}</h6>

        <p class="lead"><em>People have their own story, what about you?</em></p>

</div>

<div class="section">
    <div class="card-action">
        <a href="/auth/google" class="btn">
            <i class="fab fa-google left"></i>LOG IN WITH GOOGLE </a>
    </div>
    <div class="card-image">
        <img src="/assets/login.svg" class="responsive-img img-medium">
    </div>
</div>