@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

html, body {
  padding: 0;
  margin: 0;
  color: #000;
  background: #fff;
  font-family: 'Baloo Thambi 2', cursive;
  scroll-behavior: smooth;
  }

.card {
  width: 100%;
  margin: 2rem auto;
  border: groove #9656a1;
  box-shadow: 0 10px 6px -6px gray;
 }

.card-action {
  height: 100%;
}

.card-action-show-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  padding-bottom: 2rem !important;
}

.card-action-dashboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-content-dashboard{
  height: 300px;
}

.card-content-login{
  height: 240px;
 }

.moreBox{
  display: none;
}

.login-container {
   scroll-behavior: smooth;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 100%;
   margin: 2rem auto;
   padding: 2rem auto;
  }

.weather-container {
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  padding: 1rem auto;
 }

.story-title-show{
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 2rem;
}

.login-title {
  font-weight: 900;
  color: #000;
}

.login-title:hover {
  color: #72757e !important;
 }

.index-stories-body {
  height: 250px;
}

p {
  margin: 10px 0 !important;
}

h1,
h2,
h3 {
  font-size: 2.5rem !important;
  color: #000;
 
}

.label{
  color: #72757e !important;
}

li a,
label,
h4,
h5,
th
{
  font-size: 1.5rem !important;
  color: #72757e !important;
}

.lead{
  color: #000 !important;
}

.nav-bg {
  background: #000;
}

.sidenav{
  background: #000 !important;
  overflow: scroll;
}

.sidenav li{
  list-style-type: none !important;
}

.sidenav a:hover {
  color: #fff !important;
}

.btn-login a{
   max-width: 200px;
 }

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding-left: 1.5rem;
  margin: 0;
}

.brand-logo{
  font-size: 1.5rem !important;
}

.heading-sidenav{
  margin: 2rem auto;
  text-align: center;
  color: #000 !important;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.nav-footer a {
  margin: 0 0.5rem !important;
  font-size: 0.8rem !important;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  }

.juniHub {
  font-size: 1rem !important;
}

/*alert area */
.materialert {
  position: relative;
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
}
.materialert .material-icons {
  margin-right: 10px;
}
.materialert .close-alert {

  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  filter: alpha(opacity=40);
  margin-bottom: -5px;
  position: absolute;
  top: 16px;
  right: 5px;

}
.materialert.info {
  background-color: #8bd3dd;
  color: #000;
}
.materialert.success {
  background-color: #8bd3dd;
  color: #000;
}
.materialert.error {
  background-color: #c62828;
  color: #fff;
}
.materialert.danger {
  background-color: #c62828;
  color: #fff;
}
.materialert.warning {
  background-color: #fbc02d;
  color: #000;
}

.highlighted {
  font-size: 1.2rem;
 }

 .input-field input[type=text] {
   margin-top: 1rem !important;
 }
 
 ul li {
   list-style-type: square !important;
   margin-left: 2rem;
 }

 table,
 th,
 td {
   border: 1px solid #000 !important;
   border-collapse: collapse;
 }

 th,
 td {
   padding: 1rem;
   text-align: left;
 }

  img {
    max-width: 100%;
    height: auto;
  }

  .medium-img{
    max-width: 800px !important;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-top: 1rem;
  }

  .post-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .dashboard-img{
    height: 300px !important;
    filter: grayscale(100%);
  }

 .dashboard-img:hover {
   filter: grayscale(50%);
 }

 .post-body p {
   word-break: break-all;
 }

 .profile-section {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .user-name {
   margin-top: 1rem;
   text-transform: uppercase;
 }

.btn{
  color: #fff;
  background-color: #000;
  border-radius: 35px;
}
.btn:hover{
  background-color: #9656a1;
}
.btn:focus {
  background-color: #9656a1;
}

 .login-btn {
   min-width: 190px;
   text-transform: lowercase;
  }

 .weather-btn {
   min-width: 180px;
 }

.dashboard-href{
     margin: 4rem auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
  }
 
  .loadMore{
    margin: 2rem auto 3rem auto;
    display: block;
    text-align: center;
  }

 .social-btn {
    margin-top: 1rem;
    padding: 1rem 1rem;
  }

 .social-btn-group{
     margin: 1rem auto;
  }

 .print-btn{
   float: right;
   margin-left: 2rem;
  }

 /*weather box*/

 .weather-area {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   padding: 2rem;
   height: 100%;
   min-width: 200px;
   border: dashed 2px #000;
  }

 .city-input{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
 }

 .search-box{
   margin-bottom: 2rem !important;
 }

 .weather-display{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 0.5rem;
   color: #000;
 }

 .today-date{
   font-size: 1rem;
   width: 100%;
   }

 .temp{
   margin-top: 0.5rem;
   color: fff;
 }

 .logo-img{
   margin-top: 2rem;
   filter: grayscale(100%);
 }
  .logo-img:hover {
    filter: grayscale(50%);
  }

 /* The Image container */
 .img-hover-zoom {
    overflow: hidden;
 }

 /* Quick-zoom Container */
 .img-hover-zoom--quick-zoom img {
   transform-origin: 0 0;
   transition: transform .25s, visibility .25s ease-in;
 }

 /* The Transformation */
 .img-hover-zoom--quick-zoom:hover img {
   transform: scale(1.5);
 }
 
 #scrollToTopBtn {
   border: none;
   border-radius: 50%;
   cursor: pointer;
   font-size: 30px;
   line-height: 48px;
   width: 48px
  }

 /* Search box */
 
 .label-icon{
   margin-top: 1.5rem;
   margin-left: 0.5rem;
 }

  .close-icon {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
  }

 #search-box {
   width: 100%;
   padding: 2rem 2rem 2rem 4rem;
   border: 3px solid #000;
   border-radius: 35px;
   box-sizing: border-box;
 }

 #facet-list a {
   margin: 0.5rem;
   padding: 0.5rem;
}

 #facet-list label{
     cursor: pointer ;
}

 #container {
   margin-top: 2rem;
}

 #container em {
   background: #f582ae;
 }

 .collection-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .fa-edit {
   background-color: #000;
   color: white;
   border-radius: 10px;
   font-size: 3rem;
 
 
 }
 
 footer {
   display: flex;
   justify-content: flex-end;
   padding: 16px
 }