@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {

  color: #fffffe;
  background: #232946;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem !important;
}

.card {

  color: #172c66;
  background: #fef6e4;

  max-width: 100%;
  margin: 2rem auto 2rem auto;
  -webkit-box-shadow: 0 10px 6px -6px gray;
  -moz-box-shadow: 0 10px 6px -6px gray;
  box-shadow: 0 10px 6px -6px gray;


}

.login-container {
 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #172c66;
  background: #fef6e4;

  max-width: 500px;
  min-height: 100vh;
  margin: 2rem auto 2rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0 10px 6px -6px gray;
  -moz-box-shadow: 0 10px 6px -6px gray;
  box-shadow: 0 10px 6px -6px gray;


}



p {
  margin: 10px 0 !important;
}

h1,
h2,
h3 {
  font-size: 2.5rem !important;
  color: #8bd3dd;
}

.title-label{
  color: #f582ae !important;
}


li a,
label,
h4,
h5,
th
{

  font-size: 1.5rem !important;
  color: #f582ae !important;
}

.lead{
  color: #8bd3dd !important;
}

strong {
  color: #f582ae;
}

strong:hover {
  color: #8bd3dd;
}

nav a {
  color: #232946 !important;
}



.sidenav{
  background: #232946 !important;
  overflow: hidden;
  
}

.sidenav li{
  list-style-type: none !important;

}

.sidenav a{
  
  color: #f582ae !important;
}

.sidenav a:hover {

  color: #8bd3dd !important;
}


.nav-list{

  display: flex;
  flex-direction: row;

  justify-content:flex-start;

  padding-left: 1.5rem;
  margin: 0;
}

.topnav{ 

  padding: 1rem auto !important;

}

.heading-sidenav{
  margin: 2rem auto;
  text-align: center;
  color: #8bd3dd !important;
}

.nav-footer span {

  margin: 2rem auto !important;
  
  font-size: 1rem !important;
}

.fas.fa-edit{
  color: #8bd3dd !important;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin: 0 2rem 2rem 2rem;
 
}

.card-action{
  height: 100px !important;
}


.materialert {
  position: relative;
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
}
.materialert .material-icons {
  margin-right: 10px;
}
.materialert .close-alert {
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  filter: alpha(opacity=40);
  margin-bottom: -5px;
  position: absolute;
  top: 16px;
  right: 5px;
}
.materialert.info {
  background-color: #5c6bc0;
  color: #fff;
}
.materialert.success {
  background-color: #8bd3dd;
  color: #232946;
}
.materialert.error {
  background-color: #c62828;
  color: #fff;
}
.materialert.danger {
  background-color: #c62828;
  color: #fff;
}
.materialert.warning {
  background-color: #fbc02d;
  color: #232946;
}

.highlighted {
  font-size: 20px;
  
}

 .input-field input[type=text] {
   color: white;
   margin-top: 1rem !important;
 }
 


 ul li {
   list-style-type: square !important;
   margin-left: 2rem;
 }

 table,
 th,
 td {
   border: 1px solid #232946 !important;
  
   border-collapse: collapse;
 }

 th,
 td {
   padding: 1rem;
   text-align: left;
 }

  img {
    max-width: 100%;
    height: auto;
  }

  .medium-img{
    max-width: 400px !important;
  }

 .dashboard-img{
    
   height: 200px !important;
  

 }

 .post-body p {
   word-break: break-all;
 }



 .card-action-show-page{
   display: flex;
   flex-direction: column;
  
   justify-content: center;
   align-items: center;
 
   margin: 4rem auto;

 }

 .social-button-group{
    margin-top: 1rem;
    text-align: center;
 }

 .tweet-btn {
    margin-top: 1rem;
 }

 .user-name{
   margin-top: 1rem;
   text-transform: uppercase;
 }

 .print-btn{

   float: right;
   margin-left: 2rem;
 
 }

 