<h1>All Latest Public Stories</h1>


<div id="search-stories">

    <div class="row">

        <a href="https://www.algolia.com/" target="_blank" content="nofollow" rel="noreferrer noopener"><img
                src="/assets/search-by-algolia.svg">
        </a>

        <form class="search-form">
            <div class="input-field">
                <input id="search-box" type="search" name="stories" placeholder="search for title here" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons close-icon">close</i>
            </div>
        </form>

        <div class="row">

            <h3>#Tags</h3>

            <div id=facet-list></div>

        </div>

        <div class="row">

            <h3>⭐Titles</h3>

            <div id=container></div>

        </div>

    </div>

</div>






<footer>
    <button id="scrollToTopBtn"><i class="material-icons">arrow_drop_up</i></button>
</footer>