<div class="section">
    <h1 class="center-align">Post is Not Found</h1>
    <h5 class="center-align">Sorry, this resource is not found!</h5>
    <div class="card-action">
        <a href="/dashboard" class="btn">
            <i class="fas fa-angle-left"></i>Go back</a>
    </div>
    <div class="card-image">
        <img src="/assets/404.svg" class="responsive-img">
    </div>
</div>