<div class="section">
    <h1 class="center-align">Server Error</h1>
    <h5 class="center-align">Missing something, please add information as needed!</h5>
    <div class="card-action">
        <a href="/dashboard" class="btn">
            <i class="fas fa-angle-left"></i>Go back</a>
    </div>
    <div class="card-image">
        <img src="/assets/500.svg" class="responsive-img">
    </div>
</div>